* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans';
}

html,
body {
    height: 100%;
}

.wrapper {
    width: 100%;
    height: 100%;
    padding-top: 2%;
    background-color: #c6ffc6;
}

.game {
    width: 60%;
    margin: 0px auto;
    background-color: #ffffff99;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.computer,
.player {
    width: 50%;
    float: left;
}

.message,
.computerDice1,
.computerDice2,
.computerName,
.playerName,
.playerDice1,
.playerDice2 {
    text-align: center;
}

.message,
.computerName,
.playerName {
    padding: 3%;
    font-size: 40px;
}

.computerDice1,
.computerDice2,
.playerDice1,
.playerDice2,
.seperate {
    width: 50%;
    font-size: 25px;
    padding: 4%;
    display: inline;
}


.diceArea {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    padding: 2% 0 5% 0;
}

.throwComputer,
.throwPlayer {
    display: block;
    margin: 0 auto;
}

.coins {
    padding-top: 2%;
    width: 100%;
    font-size: 20px;
    clear: both;
}

.computerCoins,
.playerCoins {
    width: 50%;
    float: left;
    text-align: center;
}

.choice {
    width: 20%;
    padding-top: 3%;
    clear: both;
    margin: 0px auto;
}

.higher {
    float: left;
}

.lower {
    float: right;
}

.footer {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 1%;
    clear: both;
}


/*Internet CSS */
.throwComputer,
.throwPlayer,
.higher,
.lower {
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    color: #36395A;
    cursor: pointer;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.throwComputer:focus,
.throwPlayer:focus,
.higher:focus,
.lower:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.throwComputer:hover,
.throwPlayer:hover,
.higher:hover,
.lower:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.throwComputer:active,
.throwPlayer:active,
.higher:active,
.lower:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

