* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,
body {
    height: 100%;
}

.wrapper {
    width: 100%;
    height: 100%;
    padding-top: 2%;
    background-color: #c6ffc6;
}

.radio-box {
  display: inline;
  margin: 13%;
}

input {
    width: 20px;
    height: 20px;
}

label {
    font-size: 30px;
}

.confirm-game-mode{
    margin-top: 10%;
}

.game {
    max-width: 90%;
    margin: 0px auto;
    background-color: #ffffff99;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.hidden {
    display: none;
}

.computer,
.player {
    width: 50%;
    float: left;
}

.message,
.computer-Dice1,
.computer-Dice2,
.computer-Name,
.player-Name,
.player-Dice1,
.player-Dice2 {
    text-align: center;
}

.message,
.computer-Name,
.player-Name {
    padding: 3%;
    font-size: 40px;
}

.computer-Dice1,
.computer-Dice2,
.player-Dice1,
.player-Dice2,
.seperate {
    width: 50%;
    font-size: 25px;
    padding: 4%;
    display: inline;
}

.dice {
    font-size: 80px;
}

.game-area {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    padding: 2% 0 5% 0;
}

.game-area img {
    width: 38%;
    max-width: 40%;
}

.throw-Computer,
.throw-Player {
    display: block;
    margin: 20px auto;
}

.coins {
    padding-top: 2%;
    width: 100%;
    font-size: 20px;
    clear: both;
}

.computer-Coins,
.player-Coins {
    width: 50%;
    float: left;
    text-align: center;
}

.choice {
    display: flex;
    justify-content: space-between;
    width: 30%;
    padding-top: 3%;
    clear: both;
    margin: 0px auto;
}

.draw {
    margin: 0 10%;
}

.footer {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 1%;
    clear: both;
}

/*Internet CSS */
.throw-Computer,
.throw-Player,
.higher,
.lower,
.draw,
.confirm-game-mode {
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    color: #36395A;
    cursor: pointer;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.throw-Computer:focus,
.throw-Player:focus,
.higher:focus,
.lower:focus,
.draw:focus,
.confirm-game-mode:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.throw-Computer:hover,
.throw-Player:hover,
.higher:hover,
.lower:hover,
.draw:hover,
.confirm-game-mode:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.throw-Computer:active,
.throw-Player:active,
.higher:active,
.lower:active,
.draw:active,
.confirm-game-mode:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

.throw-Computer:disabled,
.throw-Player:disabled,
.higher:disabled,
.lower:disabled,
.draw:disabled,
.confirm-game-mode:disabled{
    background-color: darkgrey;
    color: rgb(68, 68, 68);
    box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px, rgba(0, 0, 0, 0.3) 0 7px 13px -3px, #8e8e90 0 -3px 0 inset;

}